<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사원 상세</title>
</head>
<body>
  <h1>사원 상세</h1>
  <div>
    <p>
      사번 : <strong th:text="${emp.empNo}"></strong>
    </p>
    <p>
      이름 : <strong th:text="${emp.firstName}"></strong>
    </p>
    <p>
      성씨 : <strong th:text="${emp.lastName}"></strong>
    </p>
    <p>
      생일 : <strong th:text="${emp.birthDate}"></strong>
    </p>
    <p>
      입사일 : <strong th:text="${emp.hireDate}"></strong>
    </p>
    <p>
      성별 : <strong th:text="${emp.gender}"></strong>
    </p>
    <p th:text="${emp.deptEmps}"></p>
    <p>
      <a th:href="@{/emp/modify.do(empNo=${emp.empNo})}">수정페이지</a>
    </p>
  </div>
</body>
</html>