<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headLink :: head"></head>
<body>
  <header th:replace="fragments/headerNav :: navbar"></header>
  <div class="container">
    <h1>사원 상세</h1>
    <p>
      사번 : <strong th:text="${emp.empNo}"></strong>
    </p>
    <p>
      이름 : <strong th:text="${emp.firstName}"></strong>
    </p>
    <p>
      성씨 : <strong th:text="${emp.lastName}"></strong>
    </p>
    <p>
      생일 : <strong th:text="${emp.birthDate}"></strong>
    </p>
    <p>
      입사일 : <strong th:text="${emp.hireDate}"></strong>
    </p>
    <p>
      성별 : <strong th:text="${emp.gender}"></strong>
    </p>
    <p>
      총급여 : <strong th:text="${emp.totalSalary}"></strong>
    </p>
  <!--  fetch=lazy  trigger : toString()을 실행하면 fetch의 대상이 된다
   <p th:text="${emp.deptEmps.toString()}"></p>-->
    <h3>부서 이동 이력</h3>
    <table class='table'>
      <thead>
      <tr>
        <th>부서번호</th>
        <th>부서이름</th>
        <th>from_date</th>
        <th>to_date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="de:${emp.deptEmps}">
        <td th:text="${de.deptNo}"></td>
        <td th:text="${de.dept.deptName}"></td>
        <td th:text="${de.fromDate}"></td>
        <td th:text="${de.toDate}"></td>
      </tr>
      </tbody>
    </table>
    <h3>급여리스트(1:N salaries)</h3>
    <table class='table'>
      <thead>
      <tr>
        <th>사원번호</th>
        <th>급여</th>
        <th>from_date</th>
        <th>to_date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="s:${emp.salaries}">
        <td th:text="${s.empNo}"></td>
        <td th:text="${s.salary}"></td>
        <td th:text="${s.fromDate}"></td>
        <td th:text="${s.toDate}"></td>
      </tr>
      </tbody>
    </table>


    <h3>직책리스트(1:N titles)</h3>
    <p>
      <a th:href="@{/emp/modify.do(empNo=${emp.empNo})}">수정페이지</a>
    </p>

  </div>
</body>
</html>