<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj703.l02_spring_mybatis.mapper.EmployeesMapper">
  <resultMap id="empMap" type="com.tj703.l02_spring_mybatis.dto.Employees">
    <id column="emp_no"  property="empNo" />
    <result column="birth_date"  property="birthDate" />
    <result column="first_name"  property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="gender"  property="gender" />
    <result column="hire_date"  property="hireDate" />
    <!--  fetch : join 하듯이 조회(eager,lazy)  -->
    <collection property="deptEmps"  ofType="com.tj703.l02_spring_mybatis.dto.DeptEmp">
      <result column="dept_no" property="deptNo"/>
      <result column="from_date" property="fromDate"/>
      <result column="to_date" property="toDate"/>
      <association property="dept" javaType="com.tj703.l02_spring_mybatis.dto.Departments">
        <result column="dept_no" property="deptNo"/>
        <result column="dept_name" property="deptName"/>
      </association>
    </collection>
  </resultMap>
  <insert id="insert">
    INSERT into employees (emp_no, birth_date, first_name, last_name, gender, hire_date)
    VALUES (#{empNo},#{birthDate},#{firstName},#{lastName},#{gender},#{hireDate})
  </insert>
  <update id="update">
    UPDATE employees SET
       birth_date=#{birthDate}, first_name=#{firstName},
       last_name=#{lastName}, gender=#{gender}, hire_date=#{hireDate}
       WHERE emp_no=#{empNo}
  </update>
  <delete id="delete">
    DELETE FROM employees WHERE emp_no=#{empNo}
  </delete>

  <select id="findAll" resultMap="empMap">
    SELECT * FROM employees LIMIT 0, 100;
  </select>
  <select id="findById" resultMap="empMap">
    SELECT e.*,de.*,d.*
    FROM employees e
        LEFT JOIN dept_emp de ON e.emp_no=de.emp_no
        LEFT JOIN departments d ON de.dept_no=d.dept_no
    WHERE e.emp_no=#{no}
  </select>
</mapper>